<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap-responsive.min.css">
<script type="text/javascript" src="/static/jquery-1.9.1.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="text/javascript">
function action(action){
    $.get("/api/action/"+action+"/");
}

$(document).ready(function(){
    $("#action_volume_up").click(function(){action("volume_up")});
    $("#action_volume_down").click(function(){action("volume_down")});
    $("#action_volume_up3").click(function(){action("volume_up3")});
    $("#action_volume_down3").click(function(){action("volume_down3")});
    $("#action_mute").click(function(){action("mute")});
    $("#action_unmute").click(function(){action("unmute")});
    $("#action_toggle").click(function(){action("toggle")});
})
</script>

{% block body %}
    <div class="container">
        {% block container %}
        {% endblock container %}
        <p>2013 <a target="blank" href="http://ondrejsika.com/">Ondrej Sika</a>, <a target="blank"  href="http://ondrejsika.com/docs/alsa-remote/">alsa-remote</a></p>
    </div>
{% endblock body %}