{% extends "base.html" %}
{% block container %}
<style type="text/css">
.button {
    height:80px;

    float:left;
    text-align:center;
    background-color: #EEE;

    border: 3px solid white;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
</style>
<h1>alsa remote</h1>
<div>
    <div class="button" style="width:25%;" id="action_volume_up3">++</div>
    <div class="button" style="width:25%;" id="action_volume_up">+</div>
    <div class="button" style="width:25%;" id="action_volume_down">-</div>
    <div class="button" style="width:25%;" id="action_volume_down3">--</div>
</div>
<div>
    <div class="button" style="width:100%;" id="action_toggle">mute / unmute</div>
</div>
<div>
    <div class="button" style="width:50%;" id="action_mute">mute</div>
    <div class="button" style="width:50%;" id="action_unmute">unmute</div>
</div>
<div style="clear:both;"></div>
{% endblock container %}